input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type=number],
input[type=text],
select, textarea {
  box-shadow: 0 4px 8px rgba($color: #363636, $alpha: .2);
  border: none!important;

  &:hover, &:focus {
    outline: none;
    
  }
}

a {
  color: #222;
  &:hover {
    text-decoration: none;
  }
}

.container {
  min-height: 90vh;
}