.content-center {
  text-align: center;
  vertical-align: middle;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-upper {
  text-transform: uppercase;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
